<link href="{{asset("css/form-css.css")}}" rel="stylesheet">

<div class="centerdiv">
    {{ form_start(form,{'attr':{'novalidate': 'novalidate','class': 'form' }})}}
    <h1 class="title">Ajouter une course</h1>
    <div class="label">
        {{ form_label(form.pointDepart) }}<br>
    </div>
    <div class="input">
        {{ form_widget(form.pointDepart, {'attr': {'class': 'input', 'pattern': '[a-zA-Z ]+', 'title': 'Entrez seulement des lettres et des espaces'}}) }}
    </div>
    {{ form_errors(form.pointDepart) }}

    <div class="label">
        {{ form_label(form.pointDestination) }}<br>
    </div>
    <div class="input">
        {{ form_widget(form.pointDestination, {'attr': {'class': 'input', 'pattern': '[a-zA-Z ]+', 'title': 'Entrez seulement des lettres et des espaces'}}) }}
    </div>
    {{ form_errors(form.pointDestination) }}

    <div class="label">
        {{ form_label(form.distance) }}<br>
    </div>
    <div class="input">
        {{ form_widget(form.distance, {'attr': {'class': 'input distance-field', 'step': '0.01', 'min': '0', 'title': 'Entrez une distance valide'}}) }}
    </div>
    {{ form_errors(form.distance) }}

    <div class="label">
        {{ form_label(form.prix) }}<br>
    </div>
    <div class="input">
        {{ form_widget(form.prix, {'attr': {'class': 'input price-field', 'step': '0.01', 'min': '0', 'title': 'Entrez un prix valide'}}) }}
    </div>
    {{ form_errors(form.prix) }}

    <div class="label">
        {{ form_label(form.statutCourse) }}<br>
    </div>
    <div class="input">
        {{ form_widget(form.statutCourse, {'attr': {'class': 'input', 'pattern': '[a-zA-Z ]+', 'title': 'Entrez seulement des lettres et des espaces'}}) }}
    </div>
    {{ form_errors(form.statutCourse) }}

    <script>
        const distanceField = document.querySelector('.distance-field');
        const priceField = document.querySelector('.price-field');

        distanceField.addEventListener('input', () => {
            const distance = parseFloat(distanceField.value);
            const price = distance * 2.25; // Calcul du prix en fonction de la distance (ici, un prix fixe de 0.5€ par kilomètre)
            priceField.value = price.toFixed(2); // Affectation du prix calculé au champ de prix
        });
    </script>

    <button class="submit">{{ button_label|default('Ajouter') }}</button>
    {{ form_end(form) }}
</div>
