{% extends 'base-front.html.twig' %}

{% block body %}
   
    <p>Prix : {{ course.prix }} dt</p>

    {% if course.statutCourse == 'Terminé' %}
        {% if not course.rating %}
            <h2>Notez la course :</h2>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Envoyer</button>
            {{ form_end(form) }}
        {% else %}
            <h2>Votre note :</h2>
            <p>{{ course.rating }}/5</p>
        {% endif %}
    {% endif %}

{% endblock %}