{% extends 'base-back.html.twig'%}


{% block body %}
    <h1>Course</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdCourse</th>
                <td>{{ course.idCourse }}</td>
            </tr>
            <tr>
                <th>PointDepart</th>
                <td>{{ course.pointDepart}}</td>
            </tr>
            <tr>
                <th>PointDestination</th>
                <td>{{ course.pointDestination }}</td>
            </tr>
            <tr>
                <th>Distance</th>
                <td>{{ course.distance }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ course.prix }}</td>
            </tr>
            <tr>
                <th>StatutCourse</th>
                <td>{{ course.statutCourse }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_course_index') }}">Retour</a>
    <a href="{{ path('app_course_edit', {'idCourse': course.idCourse}) }}">Modifier</a>

   

    {{ include('course/_delete_form.html.twig') }}
{% endblock %}
