{% extends 'base-front.html.twig'%}

{% block body %}
<div id="google_translate_element"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}

</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <h1>Courses</h1>

    <div class="row">
        {% for course in courses %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ course.pointDepart }} - {{ course.pointDestination }}</h5>
                        <p class="card-text">Distance: {{ course.distance }} km</p>
                        <p class="card-text">Prix: {{ course.prix }} Dt</p>
                        <p class="card-text">Statut de la course: {{ course.statutCourse }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{ path('app_course_show', {'idCourse': course.idCourse}) }}" class="btn btn-sm btn-outline-secondary">Details</a>
                            </div>
                            <div class="btn-group">
                                <p><a href="{{ path('app_reservation_map', {'idCourse': course.idCourse}) }}" class="btn btn-info">Localisation</a></p>
                               
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <p>No records found</p>
        {% endfor %}
    </div>

    
    <a href="{{ path('app_course_new') }}" class="btn btn-primary">Ajouter de nouveau</a>
  

    
{% endblock %}
