{% extends 'base-front.html.twig'%}
{% block body %}

<link href="{{asset("css/form-css.css")}}" rel="stylesheet">
<div class="centerdiv">
<style>
    .card-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
</style>
<div class="row">
<div class="card-grid">

{% for coli in colis %}
  <div class="col-md-4 mb-4">
<div class="card" style="width: 20rem;">
  <div class="card-body">

    <h5 class="card-title text-center  mb-3">Colis : {{ coli.description }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Nombre d'objets : {{coli.nbItems}}</h6>
	<p class="card-text mb-2 text-muted">Poids : {{coli.poids}}</p>

	<a href="{{ path('app_colis_edit', {'id': coli.id}) }}"> <i class="fa-solid fa-pen-to-square"></i></a>
  	<a href="{{ path('app_colis_delete', {'id': coli.id}) }}"><i class="fa-solid fa-trash"></i></a>
  
  </div>
</div>
</div>
{% endfor %}
</div>

</div>
	{# <a href="{{ path('app_livraison_new') }}">Create new</a> #}
	</div>
{% endblock %}
