{% extends 'base-back.html.twig'%}
{% block body %}
<h1 class="text-center mt-5 mb-3">Liste des Livraisons</h1>
</br>


</table>
	<table class="table"id='myTable'>
		<thead>
			<tr>

				<th>Adresse Expedition</th>
				<th>Adresse Destinataire</th>
				<th>Prix</th>
				<th>Etat</th>
				{# <th>actions</th> #}
			</tr>
		</thead>
		<tbody>
		<input type="search" id="myInput" class="form-control pl-6" placeholder="Search "/><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script><script>$(document).ready(function () {$("#myInput").on("keyup", function () {var value = $(this).val().toLowerCase();$("#myTable tr ").filter(function () {$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)});})});</script>

			{% for livraison in livraisons %}
				<tr>

					<td>{{ livraison.adresseExpedition }}</td>
					<td>{{ livraison.adresseDestinataire }}</td>
					<td>{{ livraison.prix }}</td>
					<td>{{ livraison.etat }}</td>
					{# <td>
						<a href="{{ path('app_livraison_show', {'idLivraison': livraison.idLivraison}) }}">Show</a>
						<a href="{{ path('app_livraison_edit', {'idLivraison': livraison.idLivraison}) }}">edit</a>
					</td> #}
				</tr>
			{% else %}
				<tr>
					<td colspan="6">Aucune Livraison </td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<table>
  <tbod>
  <tr>

<td>
        <div class="ms-3">
          <a href="{{ path('app_livraison_index', {'sort': 'prix'}) }}" class="btn btn-outline-primary">Trier par Prix</a>
        </div>
		</td>
</tr>
</tbody>
	

{% endblock %}
