<!DOCTYPE html>

<title>Livraison</title>

{% block body %}
    <h1>Livraison</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdLivraison</th>
                <td>{{ livraison.idLivraison }}</td>
            </tr>
            <tr>
                <th>AdresseExpedition</th>
                <td>{{ livraison.adresseExpedition }}</td>
            </tr>
            <tr>
                <th>AdresseDestinataire</th>
                <td>{{ livraison.adresseDestinataire }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ livraison.prix }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ livraison.etat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_livraison_index') }}">back to list</a>

    <a href="{{ path('app_livraison_edit', {'idLivraison': livraison.idLivraison}) }}">edit</a>

    {{ include('livraison/_delete_form.html.twig') }}
{% endblock %}
