{% extends 'base-front.html.twig'%}


{% block body %}
	<title>Vehicule index</title>
	<h1>Vehicule index</h1>
	<style>
    table {
      border-collapse: collapse;
    }
    table td {
      padding: 10px;
    }
    .image-container {
      width: 50px; /* ajustez la taille du conteneur selon vos besoins */
      height: 50px;
      border-radius: 50%; /* pour créer une forme de cercle */
      overflow: hidden; /* pour masquer les coins de l'image */
    }
    .circular-image {
      width: 100%; /* pour que l'image remplisse entièrement le conteneur */
      height: 100%;
      object-fit: cover; /* pour que l'image conserve son ratio d'aspect */
    }
  </style>

	<table class="table" id='myTable'>
		<thead>
			<tr>
				<th>IdVehicule</th>
				<th>NomV</th>
				<th>Id</th>
				<th>Image</th>
				<th>Ville</th>
				<th>Prix</th>
				<th>Description</th>
				<th>Type</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
		<input type="search" id="myInput" class="form-control pl-6" placeholder="Search "/><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script><script>$(document).ready(function () {$("#myInput").on("keyup", function () {var value = $(this).val().toLowerCase();$("#myTable tr ").filter(function () {$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)});})});</script>
			{% for vehicule in vehicules %}
				<tr>
					<td>{{ vehicule.idVehicule }}</td>
					<td>{{ vehicule.nomV }}</td>
					<td>{{ vehicule.id }}</td>
	<td>
      <div class="image-container">
        <img src="{{asset('photo/'~vehicule.image)}}" alt="Game" class="circular-image">
      </div>
    </td>
					<td>{{ vehicule.ville }}</td>
					<td>{{ vehicule.prix }}</td>
					<td>{{ vehicule.description }}</td>
					<td>{{ vehicule.type }}</td>
					<td>
						<a href="{{ path('app_vehicule_show', {'idVehicule': vehicule.idVehicule}) }}">show</a>
						<a href="{{ path('app_vehicule_edit', {'idVehicule': vehicule.idVehicule}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="10">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_vehicule_new') }}">Create new</a>
{% endblock %}

