<link href="{{asset("css/form-css.css")}}" rel="stylesheet">
<div class="centerdiv">
    {{ form_start(form,{'attr':{'novalidate': 'novalidate','class': 'form' }})}}
    <h1 class="title">Effectuer une reclamation</h1>
    <div class="label">
    {{ form_label(form.message) }}<br>
    </div>
    <div class="label">
        {% if not form.vars.valid %}
        {{ form_errors(form.message,{'attr':{'class': 'error' }})}}<br>
    {% endif %}</div>
    <div class="textarea">{{ form_widget(form.message,{'attr':{'class': 'input textarea' }})}}</div>

    <div class="label">
    {{ form_label(form.type) }}<br>
    </div>
    <div class="input">
    {{ form_widget(form.type)}}
    </Div>
    {{ form_errors(form.type)}}<br>
    <button class="submit">{{ button_label|default('Ajouter') }}</button>
    {{ form_end(form) }}
</div>