<link href="{{asset("css/form-css.css")}}" rel="stylesheet">
<div class="centerdiv">
    {{ form_start(form,{'attr':{'novalidate': 'novalidate','class': 'form' }})}}
    {% if button_label == "Update"  %}
    <a class="btn btn-primary col-2" href="{{ path('app_reclamation_index') }}">Retour</a>
    {% endif %}
    <h1 class="title">{{title}}</h1>
    <div class="label">
    {{ form_label(form.message) }}<br>
    </div>
    {% if button_label == "Update"  %}
    <div class="textarea">{{ form_widget(form.message,{'attr':{'class': 'input textarea'}})}}</div>
    {% else %}
    <div class="textarea">{{ form_widget(form.message,{'attr':{'class': 'input textarea' }})}}</div>
    {% endif %}
    <div class="label">
    {{ form_label(form.type) }}<br>
    </div>
    <div class="input">
    {{ form_widget(form.type)}}
    </Div>
    {{ form_errors(form.type)}}<br>
    {% if button_label == "Update"  %}
    <div class="label">
    {{ form_label(form.etat) }}<br>
    </div>
    <div class="input">
    {{ form_widget(form.etat)}}
    </Div>
    {{ form_errors(form.etat)}}<br>
    {% endif %}

    <div class="row">
    {% if button_label == "Update" %}
    <button class="col-2 offset-2 submit btn">{{ button_label|default('Ajouter') }}</button>
    {% else %}
    <button class="col-2 offset-4 submit">{{ button_label|default('Ajouter') }}</button>
    {% endif %}
    </div>
    {{ form_end(form) }}
</div>