{% extends 'base-back.html.twig'%}
{% block body %}
	<div class="row">
	<h1 class="col-6">Gérer Reclamations</h1>
	<div class="offset-4 col-1">
	<br>
	</div>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Message</th>
				<th>Etat</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for reclamation in reclamations %}
				<tr>
					<td>{{ reclamation.id }}</td>
					<td>{{ reclamation.message }}</td>
					<td>{{ reclamation.etat }}</td>
					<td>
						<a href="{{ path('app_reclamation_show', {'id': reclamation.id}) }}">Voir plus</a>
						<a href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">Aucune reclamation </td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	
{% endblock %}
