{% extends 'base-back.html.twig'%}
{% block body %}
	<h1>Reclamation</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ reclamation.id }}</td>
			</tr>
			<tr>
				<th>Message</th>
				<td>{{ reclamation.message }}</td>
			</tr>
			<tr>
				<th>Etat</th>
				<td>{{ reclamation.etat }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_reclamation_index') }}">Retour</a>



	{{ include('reclamation/_delete_form.html.twig') }}
{% endblock %}
