<link href="{{asset("css/form-css.css")}}" rel="stylesheet">
<style>
      .form {
        margin-bottom: 50px;
      }
    </style>

    <div class="centerdiv">
 
    {{ form_start(form,{'attr':{'novalidate': 'novalidate','class': 'form'}}) }}
       <h1 class="title">ENVOYER SMS</h1>

<label for="inputText" class ="col-sm-12 col-form-label"> Numéro de téléphone </label> 
    <div class ="col-sm-12">
    {{ form_widget(form.number)}}
    {{ form_errors(form.number ,{'attr':{'class':'text-danger'}})}}
     </br>  </br> 
      {# {{ form_widget(form.save,{'attr':{'class': 'btn btn-warning' }}) }}</br> #}
      <div class="text-center">
    {# {{ form_widget(form.save,{'attr':{'class': 'btn btn-warning' }}) }}</br> #}
     <button class="submit">{{ button_label|default('Envoyer') }}</button>

</div>
     

    </div>

 