<link href="{{asset("css/form-css.css")}}" rel="stylesheet">
<div class="centerdiv">
    {{ form_start(form,{'attr':{'novalidate': 'novalidate','class': 'form'}}) }}
    <h1 class="title">Envoyer SMS</h1>

<label for="inputText" class ="col-sm-12 col-form-label"> Numéro de téléphne </label>
   <div class ="col-sm-12">
    {{ form_widget(form.number)}}
    {{ form_errors(form.number,{'attr':{'class':'text-danger'}})}}
    </div>


  <label for="inputText" class ="col-sm-12 col-form-label"> Message </label>
   <div class ="col-sm-12">
    {{ form_widget(form.message)}}
    {{ form_errors(form.message,{'attr':{'class':'input textarea'}})}}
    </div>  


    </br>

    <button class="submit">{{ button_label|default('Envoyer') }}</button>
{{ form_end(form) }}
</div>
