{% extends 'base-front.html.twig'%}


{% block body %}
 {% for message in app.flashes('notification') %}
        <div class="alert alert-info alert-dismissible fade show">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    {% endfor %}
    <h1>List Location</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdContrat</th>
         
                <th>IdVehicule</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>Lieu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td>{{ location.idContrat }}</td>
          
                <td>{{ location.idVehicule }}</td>
                <td>{{ location.dateDebut ? location.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ location.dateFin ? location.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ location.lieu }}</td>
                <td><a href="{{ path('app_location_map', {'idContrat': location.idContrat}) }}" class="btn btn-info">Localisation </a></td>
              
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
