{% extends 'base-front.html.twig'%}

{% block body %}
<link href="{{asset("css/form-css.css")}}" rel="stylesheet">
	<div class="centerdiv">
	{{ form_start(form,{'attr':{'novalidate': 'novalidate'}}) }}
	<h1 class="title">Modifier Profil</h1>
	<div class="label">
    {{ form_label(form.nom) }}<br> </div>
    {{ form_widget(form.nom) }}<br>
    {{ form_errors(form.nom) }}<br>
     {{ form_label(form.prenom) }}<br>
    {{ form_widget(form.prenom) }}<br>
    {{ form_errors(form.prenom) }}<br>
     {{ form_label(form.numTel) }}<br>
    {{ form_widget(form.numTel) }}<br>
    {{ form_errors(form.numTel) }}<br>
     {{ form_label(form.mail) }}<br>
    {{ form_widget(form.mail) }}<br>
    {{ form_errors(form.mail) }}<br>
    {{ form_widget(form.mdp) }}<br>
    {{ form_errors(form.mdp) }}<br>
     {{ form_label(form.role) }}
    {{ form_widget(form.role) }}
    {{ form_errors(form.role) }}<br>
    
    <button class="submit">{{ button_label|default('Modifier') }}</button>
{{ form_end(form) }}

	<a href="{{ path('app_utilisateur_showfr', {'id': utilisateur.id}) }}">Retour</a>


{% endblock %}
