{% extends 'base-front.html.twig'%}
{% block body %}
<link href="{{asset("css/form-css.css")}}" rel="stylesheet">
<div class="centerdiv">
    {{ form_start(form,{'attr':{'novalidate': 'novalidate','class': 'form' }})}}
    <h1 class="title">Modifier Profil</h1>
     <div class="label">
    {{ form_label(form.nom) }}<br>
    </div>
    {{ form_widget(form.nom,{'attr':{'class': 'input' }})}}
    {{ form_errors(form.nom)}}<br>
    <div class="label">
    {{ form_label(form.prenom) }}<br>
    </div>
    
    {{ form_widget(form.prenom,{'attr':{'class': 'input' }})}}
    
    {{ form_errors(form.prenom)}}<br>
	 <div class="label">
    {{ form_label(form.numTel) }}<br>
    </div>
    
    {{ form_widget(form.numTel,{'attr':{'class': 'input' }})}}
    
    {{ form_errors(form.numTel)}}<br>
	 <div class="label">
    {{ form_label(form.mail) }}<br>
    </div>
    
    {{ form_widget(form.mail,{'attr':{'class': 'input' }})}}
    
    {{ form_errors(form.mail)}}<br>
    {# {{form_widget(formc.chmdp)}} #}
    <button class="submit">{{ button_label|default('Modifier') }}</button>
	<a href="{{ path('app_utilisateur_showfr', {'id': utilisateur.id}) }}">Retour</a>
    {{ form_end(form) }}
</div>
<br><br>
{% endblock %}