{% extends 'base-back.html.twig'%}

{% block body %}
	<h1>liste des utilisateurs 
	</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th>E-mail</th>
				<th>Numéro de Téléphone</th>
				<th>Rôle</th>
				<th>Evaluation</th>
				<th>Bloque</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for utilisateur in utilisateurs %}
				<tr>
					<td>{{ utilisateur.id }}</td>
					<td>{{ utilisateur.nom }}</td>
					<td>{{ utilisateur.prenom }}</td>
					<td>{{ utilisateur.mail }}</td>
					<td>{{ utilisateur.numTel }}</td>
					<td>{{ utilisateur.role }}</td>
					<td>{{ utilisateur.evaluation }}</td>
					<td>{{ utilisateur.bloque ? 'Yes' : 'No' }}</td>
					<td>
						<a href="{{ path('app_utilisateur_show', {'id': utilisateur.id}) }}">Voir plus </a>
						<a href="{{ path('app_utilisateur_editb', {'id': utilisateur.id}) }}"> Modifier</a>
						<button type="button" class="btn"> 
						<a href="{{ path('app_utilisateur_bloquer', {'id': utilisateur.id}) }}">
											{{ utilisateur.bloque ? 'Débloquer' : 'Bloquer' }}
						 </a></button>
					</td>
				</tr>
			{% else %}
				<tr
					<td colspan="10">Aucun utilisateur</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
