
    <img src="{{ asset('uploads/evenements/logo.jpg') }}" style="width: 140px; height: 100px;" alt="Description de votre image">
   

 <br>
 <br>
 <table  border="1">
        <thead >
            <tr>
                <th style="color:#009CFF;">Id Vehicule</th>
                <th style="color:#009CFF;">Image</th>
                <th style="color:#009CFF;">Nom</th>
                <th style="color:#009CFF;">Prix</th>
                <th style="color:#009CFF;">Ville</th>
                <th style="color:#009CFF;">Description</th>
                <th style="color:#009CFF;">Type</th>
                
         </tr>  
        </thead>
            <tbody>
                        {% for vehicule in vehicule %}
            <tr>
                <td >{{ vehicule.idVehicule }}</td>
                <td><img src="{{ asset('photo/' ~vehicule.image)}}" style=" width:100px; height:100px; " alt=""/></td>
                <td>{{ vehicule.nomV }}</td>
                <td>{{ vehicule.prix}}</td>
                <td>{{ vehicule.ville }}</td>
                <td style="width:100px;">{{ vehicule.description }}</td>
                <td>{{ vehicule.type}}</td>
                          
             </tr>
                        {% endfor %}
                    </tbody>
                </table>
