<link href="{{asset("css/form-css.css")}}" rel="stylesheet">
<div class="centerdiv">
{{ form_start(form,{'attr':{'novalidate': 'novalidate','class': 'form' }})}}
<h1 class="title">Ajouter une voiture</h1>
    <div class="label">
    {{ form_label(form.immatriculation) }}<br>
    </div>
    <div class="input">
    {{ form_widget(form.immatriculation)}}
    </div>
     {{ form_errors(form.immatriculation)}}<br>

     <div class="label">
    {{ form_label(form.modele) }}<br>
    </div>
    <div class="input">
    {{ form_widget(form.modele)}}
    </div>
     {{ form_errors(form.modele)}}<br>

      <div class="label">
    {{ form_label(form.marque) }}<br>
    </div>
    <div class="input">
    {{ form_widget(form.marque)}}
    </div>
     {{ form_errors(form.marque)}}<br>

      <div class="label">
    {{ form_label(form.etat) }}<br>
    </div>
    <div class="input">
    {{ form_widget(form.etat)}}
    </div>
     {{ form_errors(form.etat)}}<br>

      <div class="label">
    {{ form_label(form.photo) }}<br>
    </div>
    <div class="input">
    {{ form_widget(form.photo)}}
    </div>
     {{ form_errors(form.photo)}}<br>
    <button class="submit">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
</div>
<br>