{% extends 'base-back.html.twig'%}
{% block body %}

    <h1>Consulter liste des voitures </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Immatriculation</th>
                <th>Modele</th>
                <th>Marque</th>
                <th>Etat</th>
              <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voiture in voitures %}
            <tr>
                <td>{{ voiture.immatriculation }}</td>
                <td>{{ voiture.modele }}</td>
                <td>{{ voiture.marque }}</td>
                <td>{{ voiture.etat }}</td>
               
                <td>
                    <a href="{{ path('app_voiture_show', {'immatriculation': voiture.immatriculation}) }}">Voir plus</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune voiture</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
