{% extends 'base-front.html.twig'%} 
{% block body %}
<link href="{{asset("css/form-css.css")}}" rel="stylesheet">
<div>
<title>Voiture</title>
<div class=" row centerdiv">
<div class="col-8 offset-2">
    <h1>Voiture</h1>
    {% if voiture != null %}
    
    <table class="table" >
        <tbody>
            <tr>
                <th>Immatriculation</th>
                <td>{{ voiture.immatriculation }}</td>
            </tr>
            <tr>
                <th>Modèle</th>
                <td>{{ voiture.modele }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ voiture.marque }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ voiture.etat }}</td>
            </tr>
            
        </tbody>
    </table>
    <br>
    {{ include('voiture/_delete_form.html.twig') }}
    {% else %}
    <h1>aucune voiture existe</h1>
    {% endif %}
    <div>
    <br>
    </div>
</div>
{% endblock %}
